name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  lint:
    name: Lint
    runs-on: macOS-latest
    steps:
      - name: Clone tree
        uses: actions/checkout@v6
        with:
          submodules: recursive
          path: xbdm_gdb_bridge
      - name: Install clang-format
        run: |
          export HOMEBREW_NO_AUTO_UPDATE=1
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          brew install clang-format
      - name: Run clang-format
        run: |
          cd xbdm_gdb_bridge
          find src test -name "*.h" -o -name "*.cpp" | xargs clang-format --dry-run -Werror
  build:
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        include:
          - os: ubuntu-latest
            artifact_name: xbdm_gdb_bridge_linux
            release_tag: latest-linux
            release_title: "xbdm_gdb_bridge - Linux"
          - os: macOS-latest
            artifact_name: xbdm_gdb_bridge_macOS
            release_tag: latest-macOS
            release_title: "xbdm_gdb_bridge - macOS"

    steps:
      - name: Clone tree
        uses: actions/checkout@v6
        with:
          submodules: recursive
          path: xbdm_gdb_bridge
      - name: Clone nxdk
        uses: actions/checkout@v6
        with:
          repository: XboxDev/nxdk
          ref: 3b24b559124aba8fcb94fddff1d2dc9ef32de461
          submodules: recursive
          path: nxdk

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            libboost-all-dev \
            libsdl2-dev \
            libsdl2-image-dev \
            llvm \
            lld \
            nasm

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          export HOMEBREW_NO_AUTO_UPDATE=1
          export HOMEBREW_NO_INSTALL_CLEANUP=1
          brew install \
            cmake \
            coreutils \
            boost \
            llvm@18 \
            sdl2 \
            sdl2_image \
            nasm
      - name: Configure environment (macOS)
        if: runner.os == 'macOS'
        run: echo "PATH=$(brew --prefix llvm@18)/bin:$PATH" >> $GITHUB_ENV

      - name: Precompile nxdk
        run: |
          echo "Precompiling nxdk to allow CMake to run correctly."
          cd nxdk
          eval $(./bin/activate -s)
          make -j NXDK_ONLY=y
          make tools -j

      - name: Compile
        run: |
          cd xbdm_gdb_bridge
          export NXDK_DIR="${GITHUB_WORKSPACE}/nxdk"
          cmake -B build -DCMAKE_BUILD_TYPE=Release -DNXDK_DIR="${GITHUB_WORKSPACE}/nxdk" -DTEST_TIMEOUT_SECONDS=5
          cmake --build build -- -j$(if [ "$(uname)" == "Darwin" ]; then sysctl -n hw.ncpu; else nproc; fi)

      - name: Test
        run: |
          cd xbdm_gdb_bridge
          ctest --test-dir build --output-on-failure

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.artifact_name }}
          path: xbdm_gdb_bridge/build/xbdm_gdb_bridge

      - name: Create release
        if: github.ref == 'refs/heads/main'
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ matrix.release_tag }}"
          prerelease: false
          title: "${{ matrix.release_title }}"
          files: |
            xbdm_gdb_bridge/build/xbdm_gdb_bridge
